header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #202020;
}

h2.title {
  font-size: 2em;
  color: #3cc5e7;
}

.author {
  text-align: right;
}

.author:hover {
  color: #3cc5e7;
}

@media screen and (min-width: 1200px) {
  .centered {
    max-width: 52em;
  }
}

@media screen and (min-width: 768px) {
  .site-title {
    font-size: 2em;
  }
}

@media screen and (max-width: 490px) {
  nav {
    display: block;
    font-size: 4px;
  }
  .centered {
    width: 800px;
  }
  .cards {
    width: 800px;
  }
}

.button {
  background-color: #0570fd;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}
.centered {
  display: flex;
  width: 100%;
  grid-template-columns: 900px 900px;
  grid-template-rows: auto auto;

  margin: auto;
}

.card {
  background: white;
  margin-bottom: 2em;
  margin-top: 30px;
}

.card a {
  color: black;
  text-decoration: none;
}

.card a:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.card-content p {
  font-size: 95%;
}

img {
  width: 390px;
  height: 280px;
}

/* Flexbox styles */
@media screen and (min-width: 490px) {
  .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    /* width: calc(50% - 1em); */
  }
} /* mq 40em*/

@media screen and (min-width: 768px) {
  .cards {
    margin-top: inherit;
  }

  .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(33% - 0.5em);
    /* width: calc(33% - 1em); */
  }
} /* mq 60em*/

